@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .form {
        padding: 20px;
    }

    .form h3 {
        font-size: 18px;
    }

    .form .fields {
        display: block;
    }

    .form .fields .input-field {
        margin-bottom: 10px;
    }

    .form .details.ID {
        margin-top: 20px;
    }

    .form .details.ID .fields {
        display: block;
    }

    .form .nextBtn {
        margin-top: 10px;
    }
}